<div class="container">
    <h1 class="text-center mt-4">О компании</h1>
    <p class="text-center lead mt-3">
        Приветствуем вас на портале магазина «AutoKlad»!
    </p>
    <p class="text-center mt-3">
        Добро пожаловать в наш магазин автозапчастей! Мы предлагаем широкий ассортимент качественных запчастей для вашего автомобиля, у нас вы найдете всё - от фильтров до деталей двигателя, по доступным ценам. Наша команда поможет подобрать нужные комплектующие и обеспечит быструю доставку. Доверяйте свой автомобиль профессионалам - выбирайте нас!
    </p>
    <p class="text-center mt-3">
        "DetailBy" - это новый шаг в мире автозапчастей в Беларуси. Наш магазин успешно обеспечил тысячи автомобилей качественными комплектующими по всей стране.
    </p>
</div>