<div class="container">
    <h1 class="text-center mt-4">Контакты</h1>
    <div class="text-center mt-3">
        <p><strong>Телефон:</strong> +375333888730</p>
        <p><strong>Email:</strong> <a href="mailto:lepeshovm@gmail.com">lepeshovm@gmail.com</a></p>
    </div>
</div>